#homeHeaderBar, #homeFooterBar{
	background-color: dodgerblue;
}
#homeHeaderBar > div {
	font-size: 20px;
	font-weight: bolder;
	letter-spacing: 12px;
	text-align: center;
	height: 48px;
	line-height: 43px;
}

#homeHeaderBar > div > span:nth-child(1){color: black;}
#homeHeaderBar > div > span:nth-child(2){color: red;}
#homeHeaderBar > div > span:nth-child(3){color: yellow;}
#homeHeaderBar > div > span:nth-child(4){color: lime;}
#homeHeaderBar > div > span:nth-child(5){color: white;}
#homeHeaderBar > div > span:nth-child(6){color: red;}
#homeHeaderBar > div > span:nth-child(7){color: purple;}
#homeHeaderBar > div > span:nth-child(8){color: lime;}
#homeHeaderBar > div > span:nth-child(9){color: red;}

#homeHeaderBarLeftBtn {
	background-color: dodgerblue;
	font-size: 20px;
}
#game1BtnHome, #game2BtnHome, #game3BtnHome, #gameThreeBtnHome {border-radius: 10px; margin-bottom: 15px;}

#mainHome {background-color: #7ee5fa;}
#mainHome > div{text-align: center;}
#mainHome > div > span{
	background-color: snow;
	font-size: 20px;
	width: 40px;
	height: 40px;
	padding: 10px;
	border:2px solid white; border-radius:20px;
	box-shadow: 10px 10px 10px grey;
}
#mainHome > div > span:nth-child(1){color: white; background-color: orange}
#mainHome > div > span:nth-child(2){color: white; background-color: blue}
#mainHome > div > span:nth-child(3){color: white; background-color: pink}
#mainHome > div > span:nth-child(4){color: white; background-color: purple}
#mainHome > div > span:nth-child(5){color: white; background-color: red}
#mainHome > div > span:nth-child(6){color: white; background-color: lime}
#mainHome > div > span:nth-child(7){color: white; background-color: gold}
#mainHome > div > span:nth-child(8){color: white; background-color: coral}
#mainHome > div > span:nth-child(9){color: white; background-color: aqua}

#colorScroll {
 height: 10%;
 margin: 0;
 font-size: 16px;
 text-align: center;
 word-wrap: normal;

 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);	
 transform:translateX(100%);
 /* Apply animation to this element */	
 -moz-animation: scroll-left-home 15s linear infinite;
 -webkit-animation: scroll-left-home 15s linear infinite;
 animation: scroll-left-home 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-left-home {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left-home {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left-home {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%); 		
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); 
 }
}

/* Page 2*/
#pg2HeaderBar, #pg2FooterBar{
	background-color: dodgerblue;
}
#pg2HeaderBar > div {
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
	letter-spacing: 4px;
	height: 48px;
	line-height: 43px;
}
#mainPg2 {background:linear-gradient(rgba(186,119,69,0.9), rgba(186,119,69,0.6), rgba(186,119,69,0.4), rgba(186,119,69,0.2));}
#pg2HeaderBarLeftBtn {background-color: dodgerblue;	font-size: 20px;}
#gameSelectPg3{padding-left: 10px; font-weight: bolder; font-size: 18px; color: blue;}

#gameOneScore{color: black; border: 2px solid grey; border-radius: 5px; 
    font-weight: bolder; font-size: 18px; padding: 0; padding-left: 0;
  display: flex; float:right; width:auto; background-color: white;}
#gameOneScoreSp{font-size: 20px; padding-left: 5px;}
#gameOneScoreSp21{color: red; font-family: arial;}


#pg2HeaderBar > div > span:nth-child(1){color: black;}
#pg2HeaderBar > div > span:nth-child(2){color: red;}
#pg2HeaderBar > div > span:nth-child(3){color: yellow;}
#pg2HeaderBar > div > span:nth-child(4){color: lime;}
#pg2HeaderBar > div > span:nth-child(5){color: white;}
#pg2HeaderBar > div > span:nth-child(6){color: red;}
#pg2HeaderBar > div > span:nth-child(7){color: purple;}
#pg2HeaderBar > div > span:nth-child(8){color: lime;}
#pg2HeaderBar > div > span:nth-child(9){color: red;}
#pg2HeaderBar > div > span:nth-child(10){color: white;}
#pg2HeaderBar > div > span:nth-child(11){color: coral;}
#pg2HeaderBar > div > span:nth-child(12){color: orange;}
#pg2HeaderBar > div > span:nth-child(13){color: aqua;}
#pg2HeaderBar > div > span:nth-child(14){color: purple;}

#nameTheColor, #nameTheColorPg3{font-weight: bolder; font-size: 20px; background-color:snow;
			text-align: center;
/* Starting position */
 transform:translateX(70%);
 animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
 0%  { 
 transform: translateX(50%); 		
 }
 50% { 
 transform: translateX(-50%); 
 }
}
#colorCheck :hover{background:linear-gradient(red)}
.gameOneBtnsCont1{display: flex; align-items: center;}
#gameCheckColorBtn{border: 2px solid lime; text-shadow: none;}

#redContPg3, #greenContPg3, #blueContPg3 {width: 100%;}
#colorDiv{font-weight: bolder; text-shadow: none; font-size: 14px; text-align: right; 
	padding-right: 5px;}
#colorDiv > p {background-color: inherit;}

#selectCat > div {padding: 15px; border-radius: 15px; font-weight: bolder; padding-top: 10px; padding-bottom: 10px;
    font-size: 18px; transition-duration:1s; border: 3px inset snow; text-align: center;}
#selectCat > div:hover {background:linear-gradient(#C6F8FF,#71C2FF,#2681E6,#00BDFF,#6ED0FF);}
#selectCat > div:nth-child(1){background:linear-gradient(white,lime,white); margin-bottom: 10px;}
#selectCat > div:nth-child(2){background:linear-gradient(white,red,white);}
#gameOneEasy, #gameOneHard {padding: 15px; border-radius: 15px; font-weight: bolder; padding-top: 10px; padding-bottom: 10px;
  transition-duration:1s; border: 3px inset snow;  
    color: blue; font-size: 14px; width: 60%;}
#gameOneEasy{background:linear-gradient(white,lime,white);}
#gameOneHard{background:linear-gradient(white,red,white);}

#gameLine{width: 100%; background-color: red; height:1px}

/* Home Page- Binod*/
.binod {
  position:fixed;
  display:inline-block;
   width:120px;
  height:145px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  /*z-index:10;*/
  animation:balloons 4s ease-in-out infinite;
  transform-origin:bottom center;
  line-height: 150px;
  color: white;
  text-align: center;
  text-shadow: -2px 0 gray, 0 -2px gray, 2px 0 gray, 0 -2px gray;
  font-size: bolder;
}

@keyframes balloons {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.binod:before {
  content:"▲";
  font-size:20px;
  color:rgba(0, 0, 0, 0.5);
  display:block;
  text-align:center;
  width:100%;
  position:fixed;
  bottom:-78px;
  z-index:-100;
}

.binod:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3s; left:76vw; }
.binod:nth-child(3){ background:hsl(139,50%,60%); animation-duration:4.5s; left:40vw;}
.binod:nth-child(4){ background:hsl(59,50%,58%); animation-duration:6s; left: 96vw;}
.binod:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; left:7vw;}
.binod:nth-child(6){ background:hsl(123,50%,40%); animation-duration:7s; left:25vw;}
.binod:nth-child(7){ background:hsl(96,70%,45%); animation-duration:9s; left:35vw;}

@keyframes balloons {
0% { transform: scale(1); transform:translateY(0) rotate(-15deg); top: -150px;} 
20% { transform: scaleY(0.95) scaleX(1.05); } 
48% { transform: scaleY(1.2) scaleX(0.9); transform:translateX(-95px) rotate(-30deg); } 
68% { transform: scaleY(0.8) scaleX(1.02) rotate(20deg) translateX(-35px); } 
80% { transform: scaleY(1.02) scaleX(0.98) rotate(-10deg); }
100% { transform: scale(1);transform:translateY(0) rotate(10deg); top: 110vh;}
} 

/* Home Page- /Binod*/

/*  Page2- Rotate Color ------*/
#colorRotate{text-align: center; display: flex; justify-content: center;
            transform: scale(1.2, 1.2);}
#colorRotate > div{
    background-color: snow;
    font-size: 14px;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    line-height: 30px;
    text-align: center;
    border:2px solid white; border-radius:15px;
    box-shadow: 10px 10px 10px grey;
}
#colorRotate > div:nth-child(1){color: white; background-color: orange}
#colorRotate > div:nth-child(2){color: white; background-color: blue}
#colorRotate > div:nth-child(3){color: white; background-color: pink}
#colorRotate > div:nth-child(4){color: white; background-color: purple}
#colorRotate > div:nth-child(5){color: white; background-color: red}
#colorRotate > div:nth-child(6){color: white; background-color: lime}
#colorRotate > div:nth-child(7){color: white; background-color: gold}
#colorRotate > div:nth-child(8){color: white; background-color: coral}
#colorRotate > div:nth-child(9){color: white; background-color: aqua}
#colorRotate > div:nth-child(10){color: white; background-color: purple}
#colorRotate > div:nth-child(11){color: white; background-color: lime}
#colorRotate > div:nth-child(12){color: white; background-color: red}

#colorRotate1, #colorRotate2, #colorRotate3, #colorRotate4, 
#colorRotate5, #colorRotate6, #colorRotate7, #colorRotate8, 
#colorRotate9, #colorRotate10, #colorRotate11, #colorRotate12{
 text-align: center;
 word-wrap: normal;

 /* Starting position */
 -moz-transform:rotate(360deg);;
 -webkit-transform:rotate(360deg);; 
 transform:rotate(360deg);;
 /* Apply animation to this element */  
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: rotate-left 10s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes rotate-left {
 0%   { -moz-transform: rotate(360deg); }
 100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes rotate-left {
 0%   { -webkit-transform: rotate(360deg); }
 100% { -webkit-transform: rotate(-360deg); }
}
@keyframes rotate-left {
 0%   { 
 -moz-transform: rotate(360deg); /* Browser bug fix */
 -webkit-transform: rotate(360deg); /* Browser bug fix */
 transform: rotate(360deg);         
 }
 100% { 
 -moz-transform: rotate(-360deg); /* Browser bug fix */
 -webkit-transform: rotate(-360deg); /* Browser bug fix */
 transform: rotate(-360deg); 
 }
}

#famWithColors{
font-weight: bolder;
 margin-top: 0;
 font-size: 18px;
 text-align: center;
 word-wrap: normal;

 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left-gameOne 15s linear infinite;
 -webkit-animation: scroll-left-gameOn 15s linear infinite;
 animation: scroll-left-gameOn 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left-gameOn {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left-gameOn {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left-gameOn {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); }
}
/* Page2- /Rotate Color*/

#colorRotate_burstBaloon{text-align: center; display: flex; justify-content: center;
            transform: scale(1.2, 1.2);}
#colorRotate_burstBaloon > div{
    background-color: snow;
    font-size: 14px;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    line-height: 30px;
    text-align: center;
    border:2px solid white; border-radius:15px;
    box-shadow: 10px 10px 10px grey;
}
#colorRotate_burstBaloon > div:nth-child(1){color: white; background-color: orange}
#colorRotate_burstBaloon > div:nth-child(2){color: white; background-color: blue}
#colorRotate_burstBaloon > div:nth-child(3){color: white; background-color: pink}
#colorRotate_burstBaloon > div:nth-child(4){color: white; background-color: purple}
#colorRotate_burstBaloon > div:nth-child(5){color: white; background-color: red}
#colorRotate_burstBaloon > div:nth-child(6){color: white; background-color: lime}
#colorRotate_burstBaloon > div:nth-child(7){color: white; background-color: gold}
#colorRotate_burstBaloon > div:nth-child(8){color: white; background-color: coral}
#colorRotate_burstBaloon > div:nth-child(9){color: white; background-color: aqua}
#colorRotate_burstBaloon > div:nth-child(10){color: white; background-color: purple}
#colorRotate_burstBaloon > div:nth-child(11){color: white; background-color: lime}
#colorRotate_burstBaloon > div:nth-child(12){color: white; background-color: red}
#colorRotate_burstBaloon > div:nth-child(13){color: white; background-color: magenta}
#colorRotate_burstBaloon > div:nth-child(14){color: white; background-color: dodgerblue}
#colorRotate_burstBaloon > div:nth-child(15){color: white; background-color: violet}

#colorRotate1, #colorRotate2, #colorRotate3, #colorRotate4, 
#colorRotate5, #colorRotate6, #colorRotate7, #colorRotate8, 
#colorRotate9, #colorRotate10, #colorRotate11, #colorRotate12, #colorRotate13, #colorRotate14, #colorRotate15{
 text-align: center;
 word-wrap: normal;

 /* Starting position */
 -moz-transform:rotate(360deg);;
 -webkit-transform:rotate(360deg);; 
 transform:rotate(360deg);;
 /* Apply animation to this element */  
 -moz-animation: scroll-left 10s linear infinite;
 -webkit-animation: scroll-left 10s linear infinite;
 animation: rotate-left 10s linear infinite;
}

@media only screen and (max-width: 800px){
    /*#colorRotate {transform: scale(1, 1);}
    #colorRotate_burstBaloon{transform: scale(1, 1);}*/
}
@media only screen and (max-width: 430px){
    #mainHome > div > span{         /*--- ColorScroll ----*/
    width: 20px; font-size: 14px;
    height: 20px;
    border-radius:10px;}
}
@media only screen and (max-width: 400px){
    /*#colorScroll{transform: scale(0.7, 0.7);}
    #colorRotate {transform: scale(0.8, 0.8);}
    #colorRotate_burstBaloon{transform: scale(0.8, 0.8);}*/
    #gameTwoScoreBoard{transform: scale(0.8, 0.8);}
    #bGameOver{transform: scale(0.8, 0.8);}
    #pg2HeaderBarDiv > span{font-size: 14px;}
    #bGameBtnCont{transform: scale(0.7, 0.7);}

    #mainHome > div > span{      /*--- ColorScroll ----*/
    width: 20px; font-size: 13px;
    height: 20px;
    border-radius:10px;
    padding: 7px;  }
}
@media only screen and (max-width: 370px){
  #gameOneScore{font-size: 14px;}
   #gameOneScoreSp{font-size: 14px;}
   #gameOneEasy, #gameOneHard {font-size: 13px; padding: 7px; padding-left: 5px; padding-right: 5px;}
   /*#colorRotate {transform: scale(0.6, 0.6);}
  #colorRotate_burstBaloon{transform: scale(0.6, 0.6);}*/
}

/* ----------Page 3 --------------*/
#mainPg3 {border: 2px solid grey; background-color: coral; margin: 10px;
}


/* ----------Page 4 --------------*/
#pg4HeaderBarLeftBtn {background-color: dodgerblue; font-size: 20px;}
#mainPg4 {background:linear-gradient(lightgrey, white); height: 500px;}
#gameTwoScoreBoard{color: black; border: 2px solid grey; border-radius: 5px; font-weight: bolder; font-size: 18px;
    display: inline-block; float:right; width:auto; background-color: white; text-align: left; padding: 5px;}
#gameTwoScoreCont{text-align: left; font-size: 16px; }
#gameTwoScoreCount{padding-left: 5px; color: red;}
#gameTwoLifeCount{color: red; font-family: arial; padding-left: 5px;}
#gameTwoScore{color: red;}

#burstColorCont{margin-top: 0; margin-bottom: 0; 
    display: flex; justify-content: center; align-items: center;}
#burstColor{margin-top: 0; width: auto;}
#bGameOverCont{text-align: center; height: 100px;}
#balBusrtCountCont{font-size: 20px; text-shadow: none; color: black;}
#balBusrtCountNo{color: red;}
#balBusrtCountTime{color: red;}

#bGameBtnCont{position: fixed; bottom: 0; right: 0; width: 100px;}
#pulseBGameBtn{width: 100%; padding: 5px; background-color: rgba(0,250,0,0.5); text-align: center; font-size: 18px; border-radius: 15px; margin-top: 10px;}
#exitBGameBtn{width: 100%; padding: 5px; background-color: rgba(250,0,0,0.5); text-align: center; font-size: 18px; border-radius: 15px; margin-top: 10px; margin-bottom: 10px;}
#bGameBtn{width: 70px; height: 70px; padding: 0px;  background-color: dodgerblue; font-size: 40px; border: 2px solid white; 
    border-radius: 50px; text-align: center; text-shadow: none; margin-bottom: 10px; color: white;
    transition: transform 0.5s;  line-height: 70px;}

#startBallGame{background-color: aqua; text-align: center; font-weight: bolder;
    font-size: 18px;}
#startBallGameHard{background-color: coral; text-align: center; font-weight: bolder;
    font-size: 18px;}
#bGameOver{
    font-size: 35px; font-weight: bolder; color: red; width: 100%;
    text-shadow: 3px 3px grey; font-family: cursive;
    animation: dim 0.5s infinite alternate;
}
@keyframes dim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* Home Page- baloonsCont
.binod {
  position:fixed;
  display:inline-block;
   width:120px;
  height:145px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  z-index:10;

  margin:20px 30px;
  transition:transform 0.5s ease;
  animation:balloons 4s ease-in-out infinite;
  transform-origin:bottom center;
  line-height: 150px;
  color: white;
  text-align: center;
  text-shadow: -2px 0 gray, 0 -2px gray, 2px 0 gray, 0 -2px gray;
  font-size: bolder;
}*/

.baloons {
    position:fixed;
    height:60px;
    width:60px;
    border-radius: 30px;
    font-size:20px;
    /*box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);*/
}
/*
.baloons:before {
  content:"▲";
  font-size:14px;
  display:block;
  text-align:center;
  width:100%;
  position:fixed;
  bottom:-12px;
  z-index:-100;
}*/

#aqua{
    background-color: aqua; /*red*/
    //left:10vw;
    animation:animBalls 6s linear infinite;
    /*transform:scale(1.4);*/
    transform:scale(1);
}
#gold{
    background-color: gold; /*yellow*/
    //left:15vw;
    color: coral;
    animation:animBalls 1s linear infinite;
    /*transform:scale(1.3);*/
    transform:scale(1);
}
#skyblue{
    background-color: skyblue; /*purple*/
    //left:36vw;
    animation:animBalls 4.5s linear infinite;
    /*transform:scale(3);*/
    transform:scale(1);
}
#magenta{
    background-color: magenta; /*lime*/
    //left:70vw;
    animation:animBalls 2s linear infinite;
    /*transform:scale(1);*/
    transform:scale(1);
}#maroon{
    background-color: maroon;  /*coral*/
    //left:76vw;
    color: coral;
    animation:animBalls 10s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#crimson{
    background-color: crimson; /*aqua*/
    //left:85vw;
    animation:animBalls 5s linear infinite;
    /*transform:scale(2.5);*/
    transform:scale(1);
}
#pink{
    background-color: pink; /*gold*/
    //left:90vw;
    animation:animBalls 3.5s linear infinite;
    /*transform:scale(1.4);*/
    transform:scale(1);
}
#violet{
    background-color: violet; /*dodgerblue*/
    //left:45vw;
    animation:animBalls 4s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#indigo{
    background-color: indigo; /*dodgerblue*/
   // left:20vw;
    animation:animBalls 5s linear infinite;
    transform:scale(1);
}
#blue{
    background-color: blue; /*dodgerblue*/
    //left:6vw;
    animation:animBalls 2.5s linear infinite;
    /*transform:scale(3);*/
    transform:scale(1);
}
#white{
    background-color: white; /*red*/
    //left:10vw;
    animation:animBalls 2.5s linear infinite;
    /*transform:scale(0.8);*/
    transform:scale(1);
}
#black{
    background-color: black; /*yellow*/
    //left:90vw;
    color: coral;
    animation:animBalls 6s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#gray{
    background-color: gray; /*purple*/
    //left:90vw;
    animation:animBalls 5s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#chocolate{
    background-color: chocolate; /*lime*/
    //left:70vw;
    animation:animBalls 6s linear infinite;
    /*transform:scale(1);*/
    transform:scale(1);
}
#teal{
    background-color: teal;  /*coral*/
    //left:76vw;
    color: coral;
    animation:animBalls 8s linear infinite;
    /*transform:scale(3);*/
    transform:scale(1);
}
#green{
    background-color: green; /*aqua*/
    //left:52vw;
    animation:animBalls 10s linear infinite;
    /*transform:scale(5);*/
    transform:scale(1);
}
#red{
    background-color: red; /*gold*/
    //left:90vw;
    animation:animBalls 1s linear infinite;
    /*transform:scale(2.5);*/
    transform:scale(1);
}
#yellow{
    background-color: yellow; /*dodgerblue*/
    //left:40vw;
    animation:animBalls 2s linear infinite;
    /*transform:scale(4);*/
    transform:scale(1);
}
#purple{
    background-color: purple; /*dodgerblue*/
    //left:20vw;
    animation:animBalls 6s linear infinite;
    transform:scale(1);
}
#lime{
    background-color: lime; /*dodgerblue*/
    //left:16vw;
    animation:animBalls 2.5s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#coral{
    background-color: coral; /*dodgerblue*/
   // left:16vw;
    animation:animBalls 3s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#orange{
    background-color: orange; /*dodgerblue*/
    //left:45vw;
    animation:animBalls 5s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#khaki{
    background-color: khaki; /*dodgerblue*/
    //left:60vw;
    animation:animBalls 2s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#navy{
    background-color: navy; /*dodgerblue*/
    //left:70vw;
    animation:animBalls 3.5s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#seagreen{
    background-color: seagreen; /*dodgerblue*/
    //left:35vw;
    animation:animBalls 1.8s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#olive{
    background-color: olive; /*dodgerblue*/
    //left:20vw;
    animation:animBalls 4s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#wheat{
    background-color: wheat; /*dodgerblue*/
    //left:55vw;
    animation:animBalls 2s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#linen{
    background-color: linen; /*dodgerblue*/
    //left:80vw;
    animation:animBalls 2.5s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#turquoise{
    background-color: turquoise; /*dodgerblue*/
   // left:45vw;
    animation:animBalls 1.8s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}
#sienna{
    background-color: sienna; /*dodgerblue*/
    //left:68vw;
    animation:animBalls 4s linear infinite;
    /*transform:scale(2);*/
    transform:scale(1);
}

@keyframes animBalls{
    0%{
        top:-20px; 
    }
    100%{
        top:100vh;
    }
}

/* ----- Page5 Color Mix -----*/
#pg5HeaderBar, #pg5FooterBar{
  background-color: dodgerblue;
}
#pg5HeaderBarDiv{padding-left: 15px;}
#pg5HeaderBar > div {
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 4px;
  height: 48px;
  line-height: 43px;
}
#mainPg5 {background:linear-gradient(rgba(186,119,69,0.9), rgba(186,119,69,0.6), rgba(186,119,69,0.4), rgba(186,119,69,0.2));}
#pg5HeaderBarLeftBtn {background-color: dodgerblue; font-size: 20px;}
#gameSelectPg5{padding-left: 10px; font-weight: bolder; font-size: 18px; color: blue;}

#game3CountBoard, #game3ScoreBoard{text-align: left; padding-left: 0px;}
#game3Score{color: black; border: 2px solid grey; border-radius: 5px; 
    font-weight: bolder; font-size: 16px; padding: 0; padding-left: 2px; padding-right: 2px;
  display: flex; float:right; width:auto; background-color: white;}
#game3ScoreSp{font-size: 16px; padding-left: 5px;}
#game3ScoreSp21{color: red; font-family: arial;}


#pg5HeaderBar > div > span:nth-child(1){color: black;}
#pg5HeaderBar > div > span:nth-child(2){color: red;}
#pg5HeaderBar > div > span:nth-child(3){color: yellow;}
#pg5HeaderBar > div > span:nth-child(4){color: lime;}
#pg5HeaderBar > div > span:nth-child(5){color: white;}
#pg5HeaderBar > div > span:nth-child(6){color: red;}
#pg5HeaderBar > div > span:nth-child(7){color: purple;}
#pg5HeaderBar > div > span:nth-child(8){color: lime;}
#pg5HeaderBar > div > span:nth-child(9){color: red;}
#pg5HeaderBar > div > span:nth-child(10){color: white;}
#pg5HeaderBar > div > span:nth-child(11){color: coral;}
#pg5HeaderBar > div > span:nth-child(12){color: orange;}
#pg5HeaderBar > div > span:nth-child(13){color: aqua;}
#pg5HeaderBar > div > span:nth-child(14){color: purple;}

#nameTheColorGame3, #nameTheColorPg5{font-weight: bolder; font-size: 20px; background-color:snow;
      text-align: center;
/* Starting position */
 transform:translateX(70%);
 animation: scroll-left-pg5 10s linear infinite;
}

@keyframes scroll-left-pg5 {
 0%  { 
 transform: translateX(50%);    
 }
 50% { 
 transform: translateX(-50%); 
 }
}
#colorCheck :hover{background:linear-gradient(red)}
#gameCheckColorBtn{border: 2px solid lime; text-shadow: none;}
#gameLine{width: 100%; background-color: red; height:1px}

#game3OptnsBtnsCont1{align-items: center; display: flex; justify-content: center;}
#game3OptnsBtnsCont1 > button {margin: 10px; padding-left: 5px; font-weight: bolder; font-size: 12px;}
#game3OptnsBtnsCont2{align-items: center; display: flex; justify-content: center;}
#game3OptnsBtnsCont2 > button {margin: 10px; padding-left: 5px; font-weight: bolder; font-size: 12px;}
#game3OptnsBtnsCont3{align-items: center; display: flex; justify-content: center;}
#game3OptnsBtnsCont3 > button {margin: 10px; padding-left: 5px; font-weight: bolder; font-size: 12px;}
#game3OptnsBtnsCont4{align-items: center; display: flex; justify-content: center;}
#game3OptnsBtnsCont4 > button {margin: 10px; padding-left: 5px; font-weight: bolder; font-size: 12px;}
#game3OptnsBtnsCont5{align-items: center; display: flex; justify-content: center;}
#game3OptnsBtnsCont5 > button {margin: 10px; padding-left: 5px; font-weight: bolder; font-size: 12px;}

#game3BtnsCont1{display: flex; align-items: center;}
#game3StartBtn {margin-right: 2px; border: 3px solid dodgerblue;}
#game3LifeLineBtn {margin-left: 2px; border: 3px solid lime; text-shadow: none;}

#game3Over{position: fixed; width: 60%; height: auto; background-color: transparent; border: hidden;
          z-index: 20; left: calc(20%); top: calc(30%); padding: 8px; color: black; font-weight: bolder;}
#game3OverCall{font-size: 35px; font-weight: bolder; color: red; text-shadow: 3px 3px grey; 
          font-family: cursive; animation: dim 0.5s infinite alternate;}
#game3OverCorrectCount, #game3OverQues{color: red}

#game3RuleBtn{background-color: dodgerblue;}
#game3Rule{position: fixed; width: 60%; height: auto; background-color: khaki;
          z-index: 2; left: calc(20%); top: calc(20%); padding: 8px; border: 3px inset grey;
          box-shadow:inset 4px 4px grey;}
#game3Rule0 {text-align: center; font-weight: bolder;}          
#game3Rule1, #game3Rule2, #game3Rule3 {width: auto; text-shadow: none; text-align: left;}
#game3RuleOkDiv {width: 100%; align-items: center; display: flex; justify-content: center;}  
#game3RuleOk {background-color: coral; width: 40%; justify-content: center; text-align: center; 
    font-weight: bolder; color: white;}  

.bino {
  position:fixed;
  display:inline-block;
   width:120px;
  height:145px;
  background:hsl(215,50%,65%);
  border-radius:80%;
  box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
  margin:20px 30px;
  transition:transform 0.5s ease;
  /*z-index:10;*/
  animation:balloons-game3 4s ease-in-out infinite;
  transform-origin:bottom center;
  line-height: 150px;
  color: white;
  text-align: center;
  text-shadow: -2px 0 gray, 0 -2px gray, 2px 0 gray, 0 -2px gray;
  font-size: bolder;
}

@keyframes balloons-game3 {
  0%,100%{ transform:translateY(0) rotate(-4deg); }
  50%{ transform:translateY(-25px) rotate(4deg); }
}


.bino:before {
  content:"▲";
  font-size:20px;
  color:rgba(0, 0, 0, 0.5);
  display:block;
  text-align:center;
  width:100%;
  position:fixed;
  bottom:-78px;
  z-index:-100;
}

.bino:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3s; left:76vw; }
.bino:nth-child(3){ background:hsl(139,50%,60%); animation-duration:4.5s; left:40vw;}
.bino:nth-child(4){ background:hsl(59,50%,58%); animation-duration:6s; left: 96vw;}
.bino:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; left:7vw;}
.bino:nth-child(6){ background:hsl(123,50%,40%); animation-duration:7s; left:25vw;}
.bino:nth-child(7){ background:hsl(96,70%,45%); animation-duration:9s; left:35vw;}

@keyframes balloons-game3 {
0% { transform: scale(1); transform:translateY(0) rotate(-15deg); top: -150px;} 
20% { transform: scaleY(0.95) scaleX(1.05); } 
48% { transform: scaleY(1.2) scaleX(0.9); transform:translateX(-95px) rotate(-30deg); } 
68% { transform: scaleY(0.8) scaleX(1.02) rotate(20deg) translateX(-35px); } 
80% { transform: scaleY(1.02) scaleX(0.98) rotate(-10deg); }
100% { transform: scale(1);transform:translateY(0) rotate(10deg); top: 110vh;}
} 

/* Home Page- /Binod*/

/*  Page5- Rotate Color ------*/

#famWithColors{
font-weight: bolder;
 margin-top: 0;
 font-size: 18px;
 text-align: center;
 word-wrap: normal;

 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: scroll-left-game3 15s linear infinite;
 -webkit-animation: scroll-left-game3 15s linear infinite;
 animation: scroll-left-game3 15s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes scroll-left-game3 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left-game3 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left-game3 {
 0%   { 
 -moz-transform: translateX(100%); /* Browser bug fix */
 -webkit-transform: translateX(100%); /* Browser bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Browser bug fix */
 -webkit-transform: translateX(-100%); /* Browser bug fix */
 transform: translateX(-100%); }
}
/* Page2- /Rotate Color*/

#colorRotate_burstBaloon{text-align: center; display: flex; justify-content: center;
            transform: scale(1.2, 1.2);}
#colorRotate_burstBaloon > div{
    background-color: snow;
    font-size: 14px;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    line-height: 30px;
    text-align: center;
    border:2px solid white; border-radius:15px;
    box-shadow: 10px 10px 10px grey;
}

#page3TestDisplay{color: black; border: 3px solid grey; background-color: white;}


/* ----- Page3 Color Mix -----*/
/*canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
#myCanvas1 {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
.bouncingBalls{
  width: 50px; height: 50px; background-color: blue; margin: 10px;
  border-radius: 25px;
  display: inline-block;
  position: relative;
  animation: animBounce 6s linear infinite;
  font-weight: bolder; line-height: 50px; color: white; text-align: center;
}

@keyframes animBounce{
    0%{top: 0px; background-color: red;}
    20%{ top:200px;}
    40%{top:50px;}
    60%{top:200px;}
    80%{top:100px;}
    90%{top:200px; transform:  scaleX(1.5)}
    91%{transform: scaleY(1.2) scaleX(0.9); transform:translateX(-195px) rotate(-30deg); }
    100%{ top:200px; transform: scaleY(1) scaleX(0.6) rotate(20deg) translateX(-135px); }
}

0% { transform: scale(1); transform:translateY(0) rotate(-15deg); top: -150px;} 
20% { transform: scaleY(0.95) scaleX(1.05); } 
48% { transform: scaleY(1.2) scaleX(0.9); transform:translateX(-95px) rotate(-30deg); } 
68% { transform: scaleY(0.8) scaleX(1.02) rotate(20deg) translateX(-35px); } 
80% { transform: scaleY(1.02) scaleX(0.98) rotate(-10deg); }
100% { transform: scale(1);transform:translateY(0) rotate(10deg); top: 110vh;}
*/
